---
import Layout from "@/layouts/Layout.astro";
import Search from "@/components/Search";
import {getCollection } from "astro:content";


// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  tags: data.tags,
  authors: data.authors,
  data,
}));

---

<Layout title="Blog | AITU" description="AITU Blog">
  <main>
    <div class="mt-10">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="my-6 text-3xl font-medium sm:text-4xl">Blog</h1>
      <p class="text-lg font-light text-secondary md:w-3/4">
        The AITU blog is a place where we share our thoughts on the topics we
        are passionate about. The blog features the two formats <strong
          class="text-transparent bg-clip-text bg-amethyst-right">Paper</strong
        >, <strong class="text-transparent bg-clip-text bg-amethyst-right"
          >Deep Dive</strong
        >
        check out events as well where you can see the old and new upcoming     <strong class="text-transparent bg-clip-text bg-amethyst-right"
        ><a href="/events"> Events</a> </strong 
        >
      </p>
      <p class="text-lg font-light text-secondary mt-4 md:w-3/4 italic">
        You can dynamically filter by format, title, author and tags by typing
        in the below text box
      </p>
    </div>
    <Search  client:load searchList={searchList}  />
  </main>
</Layout>
