---
import Card from "@components/Card";
import getSortedEvents from "@utils/getSortedEvents";
import slugify from "@utils/slugify";
import type { Frontmatter } from "@utils/types";
import { getCollection } from "astro:content";



const event = await getCollection("event");
const mostRecent = getSortedEvents(event);
---

<div id="events" class="pt-32 sm:my-40">
  <strong
    class="font-semibold text-3xl sm:text-5xl text-transparent bg-clip-text bg-amethyst-right"
  >
   Events
  </strong>
  <p
    class="max-w-2xl mt-4 font-light leading-relaxed text-justify text-secondary text-md sm:text-xl"
  >
  We host a variety of events throughout the year, including expert talks ,
  hands-on workshops, as well as competitions and hackathons. In our blog we
  summarise the most memorable experiences.
  </p>
  <div class="flex flex-col mt-20 space-y-10">
 {/* @ts-ignore */}
 {mostRecent.map((post) => <Card href={`/events/${slugify(post.data)}`} frontmatter={post.data} centered />)}
  </div>
  <div class="flex items-center justify-center mt-10">
    <a
      href="/events"
      class="text-transparent bg-clip-text bg-amethyst-right hover:text-accent hover:underline"
      >Browse All Events</a
    >
  </div>
</div>
