---
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "@utils/types";
import { getCollection } from "astro:content";



const posts = await getCollection("blog");
const mostRecent = getSortedPosts(posts);
---

<div id="paper-archive" class="pt-32 sm:my-40">
  <strong
    class="font-semibold text-3xl sm:text-5xl text-transparent bg-clip-text bg-amethyst-right"
  >
    Paper Archive
  </strong>
  <p
    class="max-w-2xl mt-4 font-light leading-relaxed text-justify text-secondary text-md sm:text-xl"
  >
    Every week we read a paper from the broader field of AI and summarise its
    high-level ideas, as well as our main takeaways in a blog post. The posts
    are aimed at a general audience and are a great way to get a quick overview
    of the latest research in the field.
  </p>
  <div class="flex flex-col mt-20 space-y-10">
    {/* @ts-ignore */}
    {mostRecent.map((post) => <Card href={`/blog/${slugify(post.data)}`} frontmatter={post.data} centered />)}
  </div>
  <div class="flex items-center justify-center mt-10">
    <a
      href="/blog"
      class="text-transparent bg-clip-text bg-amethyst-right hover:text-accent hover:underline"
      >Read All Paper Summaries in our Blog</a
    >
  </div>
</div>
