---
import { ResetPasswordForm } from "@components/login/ResetPassword";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Join Us | AITU" description="Join the AI community at ITU.">
  <main class="flex flex-row items-center justify-center">
    <ResetPasswordForm client:load />
  </main>
</Layout>
